.banner-page {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  background: $blue-lighter;
  &__container, &__row {
    height: 100%;
  }
  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    img {
      height: 50%;
    }
    @include atMedium {
      position: absolute;
      width: 100%;
      justify-content: center;
      z-index: 1;
      left: 0;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      height: calc(100% + 3rem);
    }
    @include atMedium {
      opacity: 0.3;
    }
  }

}
