.posts-list {
  padding: 6em 0;
  @include atMedium {
    padding: 3em 0;
  }
  .row:last-child {
    .posts-list-item {
      margin-bottom: 0;
      padding-bottom: 3em;
      border-bottom: none;
    }
  }
}

.posts-list-item {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid $gray-light;

  &__title,
  &__date {
    width: 100%;
  }

  &__description {
    position: relative;
    width: 100%;
    max-height: 4.5em;
    padding-right: 1rem;
    overflow: hidden;
    .ellipsis {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
