.single-work {
  padding: 6em 0;
  &__head-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 3em;
    @include atMedium {
      margin-bottom: 1.5em;
    }
  }
  &__title {
    margin-bottom: 0;
    @include atMedium {
      margin-bottom: 0.5em;
      text-align: center;
    }
  }
  &__date {
    margin-bottom: 0.25em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      margin-left: 1em;
    }
    h4 {
      margin-bottom: 0;
    }
    @include atMedium {
      justify-content: center;
    }
  }
  &__cover {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__description {
    margin: 3em 0;
    p {
      margin-bottom: 0;
    }
  }
  &__other-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    h5 {
      margin-top: 1em;
      @include atMedium {
        text-align: center;
      }
    }
    @include atMedium {
      margin-bottom: 1.5em;
    }
  }
  &__fast-links-row {
    margin-top: 3em;
    @include atMedium {
      margin-top: 1.5em;
      text-align: center;
    }
  }
  &__fast-link {
    img {
      width: 1em;
      vertical-align: middle;
      display: inline-block;
    }
    h4 {
      display: inline-block;
      margin: 0 1em;
      vertical-align: middle;
      font-size: 1.125rem;
    }
    &--next {
      a {
        float: right;
        @include atMedium {
          float: none;
        }
      }
      h4 {
        order: 1;
      }
    }
    @include atMedium {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h4 {
        margin-top: 1em;
      }
    }
  }
  @include atMedium {
    padding: 3em 0;
  }
}
